html {
  --body-bg: #15181f;
  --paragraph-color: #262626;
  --text-color: white;
  --block-bg: #242833;
  --input-bg: #2f333f;
  --button-bg: #303642;

  --color-active: linear-gradient(48deg, rgba(49, 126, 235, 1) 0%, rgba(77, 139, 227, 1) 100%);
  --green: #2ed95c;
  --blue: #5891ed;
  --purple: #7f2b42;
  --red: #e3342f;
}
