input,
textarea {
  font-size: 2rem;
  background: var(--text-color);
  border-radius: 0.5em;
  border: 1px solid var(--paragraph-color);
  color: var(--paragraph-color);
  padding: 0.25em 0.5em;
  transition: 0.3s box-shadow, 0.3s border ease-in-out;

  &:focus {
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 1px 1px var(--blue);
  }
}

textarea {
  resize: vertical;
  min-height: 5em;
}
